body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding:0;
}

div#microapp-menu {
    background-color: darkgray;
    margin: 0;
    height: 100%;
}

div#microapp-panel {
}

div.microapp-action {
    padding: 10px;
    float: left;
}

.microapp-toggle-button {
    font-size: 3em;
    line-height: 2em;
}

.microapp-edit-button a {
    font-size: 2.5em;
    line-height: 2em;
    color: black;
}

div.microapp-main {
}

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #FFF; /* A background-color is required */
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}


#microappAdminBar {
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
}

main#microapp-edit {
    background-color: darkgray;
    padding: 2% 8%;
}

div.microappbuttons input, div.microappbuttons a {
    margin: 16px;
    background-color: #333;
    color: white;
    font-family: monospace;
    font-size: 16px;
    border: none;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.CodeMirror {
  height: auto;
}

.isAuthorisedUser-false .mv-bar .mv-status span {
    display: none;
}
