{{define "admin"}}
<!DOCTYPE html>
<html>
    <head>
        <style>
div {
    width: 100%;
    margin: 0;
    padding: 10px ;
    text-align: left;
    background-color: darkgray;
    color: white;
    font-family: monospace;
    font-size: 1.4em;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0 12px 0 0;
    padding: 0;
}

li {
    margin: 20px 10px;
    padding: 0;
}

li.form {
    margin: 0;
}


form, input {
    margin: 0;
    padding:0;
}

        </style>
    </head>
    <body>
        <div>
            <ul class="edit">
                <li><a href="/edit/{{.Title}}" target="_parent" rel="noopener noreferrer">Edit <i>{{.Title}}</i></a></li>
                <li class="form"><form action="/create/"  target="_parent" rel="noopener noreferrer">
                        <input type="text" id="create" name="newpage" value="NewPageName">
                    </form>
                </li> 
            </ul>
            <ul class="list">
                {{range $i,$a := .PagesList }} 
                <li {{if eq $a "HomePage"}}class="first"{{end}}><a href="/view/{{$a}}" target="_parent" rel="noopener noreferrer">{{$a}}</a></li>
                {{end}}
            </ul>
        </div>
    </body>
</html>
{{end}}
