{{define "edit"}}<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="/assets/js/codemirror/codemirror.min.js"></script>
        <link rel="stylesheet" href="/assets/css/codemirror/codemirror.min.css" />
        <script src="/assets/js/codemirror/xml.min.js"></script>
        <script src="/assets/js/codemirror/css.min.js"></script>
        <script src="/assets/js/codemirror/htmlembedded.min.js"></script>
        <script src="/assets/js/codemirror/matchbrackets.min.js"></script>
        <link rel="stylesheet" href="/assets/css/codemirror/ayu-dark.min.css">
        <link rel="stylesheet" href="/assets/css/style.css">
        <title>{{.Title}}</title>
    </head>
    <body>
        <main id="microapp-edit">
            <h1>{{.Title}}</h1> 
            <form action="/save/{{.Title}}" method="POST">
                <div class="microappbuttons">
                    <input type="submit" value="Save {{.Title}}">
                    <input type="reset" value="Reset">
                    <a href="/view/{{.Title}}">Cancel</a>
                </div>
                <div class="microappeditzone">
                    <textarea id="code" name="body" rows="40" cols="80">{{.Body | safeHTML}}</textarea>
                </div>
            </form>
        </main>
        <script>
            var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
                lineNumbers: true,
                lineWrapping: true,
                mode: "text/html",
                matchBrackets: true,
                viewportMargin: Infinity
            });
        </script>
    </body>
</html>
{{end}}
