{{define "style"}}
#microappAdminBar {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    border: none;
}

div.microappbuttons input, div.microappbuttons a {
    margin: 16px;
    background-color: #333;
    color: white;
    font-family: monospace;
    font-size: 16px;
    border: none;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
{{end}}
