{{define "view"}}<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{.Title}}</title>
        <script src="/assets/js/mavo/mavo.min.js"></script>
        <script src="/assets/js/mavo/dragula.min.js"></script>
        <script src="/assets/js/mavo/showdown.min.js"></script>
        <script src="/assets/js/mavo/purify.min.js"></script>
        <script src="/assets/js/mavo/mavo-markdown.js"></script>
        <script src="/assets/js/storage.js"></script>
        <script src="/assets/js/format-md.js"></script>
        <link rel="stylesheet" href="/assets/css/mavo/mavo.min.css">
        <link rel="stylesheet" href="/assets/css/style.css">
    </head>
    <body>
        {{if .Access.IsLogged }}
        <div id="microapp-menu" style="margin: 0;">
            <iframe src="/admin/{{.Title}}" id="microappAdminBar"></iframe>
        </div>
        {{end}}
        <div id="microapp-panel">
            <div class="microapp-toggle-button">⚙</div>
            {{.Body | safeHTML}}
            </div>
        <script src="/assets/js/slideout.min.js"></script>
        <script>
            var slideout = new Slideout({
                'panel': document.getElementById('microapp-panel'),
                'menu': document.getElementById('microapp-menu'),
                'padding': 256,
                'tolerance': 70
            });

            document.querySelector('.microapp-toggle-button').addEventListener('click', function() {
                 slideout.toggle();
            });
        </script>
    </body>
</html>
{{end}}
