{{define "view"}}<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{.Title}}</title>
        <script src="https://get.mavo.io/stable/mavo.min.js"></script>
        <link rel="stylesheet" href="https://get.mavo.io/stable/mavo.min.css">
        <style>{{template "style"}}</style>
    </head>
    <body>
        {{if .Access.IsLogged }}
        <div class="microappnavbar"><a href="/edit/{{.Title}}">Edit <i>{{.Title}}</i></a>
            Pages : {{range $i,$a := .PagesList}} 
            <a href="{{$a}}">{{$a}}</a>&nbsp;|&nbsp;
            {{end}}
        </div>
        {{end}}
        <main>
            {{.Body | safeHTML}}
        </main>
    </body>
</html>
{{end}}
