/* inspired from James Zedd code for Sliding Push 
 * Navigation Menu In Pure CSS (MIT Licence).
 * https://www.cssscript.com/sliding-push-navigation-menu-pure-css/
 * */

/* -- Slideout Sidebar -- */

.slideout-sidebar {
	position: fixed;
	top: 0;
	left: -190px;
	z-index: 0;
	width: 190px;
	height: 100%;
	padding: 10px;
	background-color: rgba(26, 26, 26, 0.7);
	transition: all 300ms ease-in-out;
}

/* -- Slideout Sidebar -- */

.slideout-sidebar {
	position: fixed;
	top: 0;
	left: -190px;
	z-index: 0;
	width: 190px;
	height: 100%;
	padding: 10px;
	background-color: rgba(26, 26, 26, 0.7);
	transition: all 300ms ease-in-out;
}

.slideout-sidebar ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.slideout-sidebar ul li {
	cursor: pointer;
	padding: 9px 0;
	border-bottom: 1px solid rgba(244,244,244,0.4);
    color: white;
    font-size: 1rem;
    line-height: 2.25rem;
}

.slideout-sidebar ul li:last-child {
	border-bottom: 0;
}

.slideout-sidebar ul li:hover {
	background-color: rgba(244,244,244,0.1);
}

.slideout-sidebar ul li a:hover {
    color: white;
}

.slideout-sidebar input, .slideout-sidebar select {
    width: 100%;
}

.slideout-sidebar input.check {
    width: 16%;
}

.slideout-sidebar small, .slideout-sidebar h2 {
    font-size: 0.8em;
    margin: 0 0 0 10px;
    color: white;
}


#menu-toggle {
	display: none;
}

.menu-icon {
	position: fixed;
	top: 18px;
	left: 10px;
	font-size: 26px;
	z-index: 1;
	transition: all 300ms ease-in-out;
}


/*-- The Magic --*/
#menu-toggle:checked ~ .slideout-sidebar {
	left: 0px;
}

#menu-toggle:checked + .menu-icon {
	left: 198px;
}

#menu-toggle:checked ~ .content-container {
	padding-left: 240px;
}


@media (max-width: 991px) {

	.content-container {
		max-width: 480px;
	}

}

@media (max-width: 767px) {

	.content-container {
		max-width: 100%;
		margin: 30px auto 0;
	}

	#menu-toggle:checked ~ .content-container {
		padding-left: 0;
	}

	.slideout-sidebar ul {
		text-align: center;
		max-width: 200px;
		margin: 30px auto 0;
	}

	.menu-icon {
		left: 20px
	}

	#menu-toggle:checked ~ .slideout-sidebar {
		width: 100%;
	}

	#menu-toggle:checked + .menu-icon {
		left: 87%;
		color: #fafafa;
	}

	@media screen  
	and (max-width: 736px) 
	and (orientation: landscape) {

		.slideout-sidebar {
			padding: 0;
		}

		.slideout-sidebar ul {
			max-width: 100%;
			margin: 60px auto 0;
		}

		.slideout-sidebar ul li {
			display: inline-block;
			border-bottom: 0;
			width: 72px;
			padding: 18px 24px;
			margin: 0 6px 12px;
			color: #ffffff;
			background-color: #777;
		}

	}

}
